@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #845afc;
  /* #1b1a41 */
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  min-width: 400px;
  box-shadow: 8px 8px 24px 10px rgba(66, 68, 90, 1);
}

.container > h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.container div {
  display: flex;
  flex-direction: column;
}

.container input {
  width: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding: 10px;
}

.container input::placeholder {
  font-size: 12px;
  font-style: italic;
}

.container button {
  background-color: #845afc;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.container span {
  display: flex;
  justify-content: center;
  font-size: 14px;
  gap: 2px;
}

.link {
  text-decoration: underline;
  font-style: italic;
}

.TodoWrapper {
  display: flex;
  flex-direction: column;

  width: 50%; /* Adjust width as needed */
  max-width: 500px; /* Prevents it from being too wide */
  padding: 20px; /* Some spacing inside */
  background-color: #1b1a41;
  color: white; /* To make text visible on dark background */

  /* Centering */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo-input {
  width: 368px;
}
.todo-btn {
  background-color: #845afc;
  padding: 10px;
}
.Todo {
  background-color: #845afc;
}
.completed {
  text-decoration: line-through;
  /* color: gray; */
}

.taskexpired {
  /* color: #1b1a41; */
  color: darkred;
  font-weight: bold;
}

.todolist {
  /* Height constraints */
  height: 400px; /* Adjust as needed */
  max-height: 70vh; /* Prevents it from getting too big */

  /* Enable scrolling inside */
  overflow-y: auto;
  /* Hide scrollbar for different browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}
.Todo p {
  cursor: pointer; /* Makes text clickable */
  transition: color 0.2s ease-in-out; /* Smooth transition */
}
.error {
  color: red;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.TodoWrapper::-webkit-scrollbar {
  display: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
